
<div class="git_page">
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/keyboard/keyboard.component.html">html</a>
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/keyboard/keyboard.component.css">css</a>
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/keyboard/keyboard.component.ts">ts</a>
</div>
<main>
    <h1>Angular Keyboard HostListener</h1>
    <h1>{{key}}</h1>
    </main>