<div class="sidebar_sec">
    <ul>
        <li><a routerLink="/chips" routerLinkActive="active"> JS Chips </a></li>
        <li><a routerLink="/table" routerLinkActive="active"> DataTable </a></li>
        <li><a routerLink="/table_col" routerLinkActive="active"> DataTable Colapes </a></li>
        <li><a routerLink="/asplit" routerLinkActive="active">Angular split </a></li>
        <li><a routerLink="/host-listener" routerLinkActive="active">Angular Keyboard HostListener </a></li>
        <li><a routerLink="/drag" routerLinkActive="active">Draggable </a></li>
        <li><a routerLink="/lib" routerLinkActive="active">Library </a></li>
    </ul>
</div>