<div class="sidebar_sec">
    <ul>
        <li><a routerLink="/ask/chips" routerLinkActive="active"> JS Chips </a></li>
        <li><a routerLink="/ask/table" routerLinkActive="active"> DataTable </a></li>
        <li><a routerLink="/ask/table_col" routerLinkActive="active"> DataTable Colapes </a></li>
        <li><a routerLink="/ask/asplit" routerLinkActive="active">Angular split </a></li>
        <li><a routerLink="/ask/host-listener" routerLinkActive="active">Angular Keyboard HostListener </a></li>
        <li><a routerLink="/ask/drag" routerLinkActive="active">Draggable </a></li>
        <li><a routerLink="/ask/lib" routerLinkActive="active">Library </a></li>
    </ul>
</div>