<div class="git_page">
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/navscroll/navscroll.component.html">html</a>
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/navscroll/navscroll.component.css">css</a>
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/navscroll/navscroll.component.ts">ts</a>
    <a target="_blank" href="https://codepen.io/areeburrub/pen/mdWjRYb">Reference Link</a>

</div>
<main>
<div class="row">
    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                <nav>
                    <div class="dos_nav">
                        <ul>
                            <li (click)="nav_link('home')" class="nav_link home active"><a>home</a></li>
                            <li (click)="nav_link('service')" class="nav_link service"><a>service</a></li>
                            <li (click)="nav_link('about')" class="nav_link about"><a>about</a></li>
                            <li (click)="nav_link('contact')" class="nav_link contact"><a>contact</a></li>
                            <li (click)="nav_link('offer')" class="nav_link offer"><a>offer</a></li>
                            <li (click)="nav_link('product')" class="nav_link product"><a>product</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-12 col-md-12 col-lg-9 col-xl-9 col-xxl-9">
                <div class=" overview tab-container">
                    <div class="row">
                        <div class="col-12">
                            <section id="home" style="background-color: red;">                           
                            </section>
                        </div>
                        <div class="col-12">
                            <section id="service" style="background-color: green;">
                           
                            </section>
                        </div>
                        <div class="col-12">
                            <section id="about" style="background-color: blue;">
                               
                            </section>
                        </div>
                        <div class="col-12">
                            <section id="contact" style="background-color: yellow;">
    
                            </section>
                        </div>
                        <div class="col-12">
                            <section id="offer" style="background-color: orange">
    
                            </section>
                        </div>
                        <div class="col-12">
                            <section id="product" style="height: calc(100vh - 200px);align-items: baseline;background-color: skyblue;">
    
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    
        </div>
</div>
</main>