<div class="git_page">
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/tableres/tableres.component.html">html</a>
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/tableres/tableres.component.css">css</a>
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/tableres/tableres.component.ts">ts</a>
    <a target="_blank" href="https://raw.githubusercontent.com/askarthi1611/is_angular/main/src/app/core/tableres/tableres.component.ts">reference link</a>
</div>
<main>
        <h1>Datatable Responsive</h1>
        <table class="table table-bordered" id="reponsive_table" datatable [dtOptions]="reponsive_table" style="min-width: 1200px;">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th style="width: 100px;">Test Code</th>
                    <th style="min-width: 120px;">Test Name</th>
                    <th>Method</th>
                    <th style="width: 130px;">Sample Quantity</th>
                    <th style="width: 120px;">Test Schedule</th>
                    <th style="width: 100px;">Reported on</th>
                    <th>Price</th>
                    <th style="width: 120px;">Test Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="dt-control"><div>1</div></td>
                    <td>G0001</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">1ml</td>
                    <td class="hide_data">Mon & Thu : 1:00am</td>
                    <td class="hide_data">Same day : 1:00pm</td>
                    <td class="hide_data">6100</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>2</div></td>
                    <td>G0002</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">2ml</td>
                    <td class="hide_data">Mon & Thu : 2:00am</td>
                    <td class="hide_data">Same day : 2:00pm</td>
                    <td class="hide_data">6200</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>3</div></td>
                    <td>G0003</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">3ml</td>
                    <td class="hide_data">Mon & Thu : 3:00am</td>
                    <td class="hide_data">Same day : 3:00pm</td>
                    <td class="hide_data">6300</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>4</div></td>
                    <td>G0004</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">4ml</td>
                    <td class="hide_data">Mon & Thu : 4:00am</td>
                    <td class="hide_data">Same day : 4:00pm</td>
                    <td class="hide_data">6400</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>5</div></td>
                    <td>G0005</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">5ml</td>
                    <td class="hide_data">Mon & Thu : 5:00am</td>
                    <td class="hide_data">Same day : 5:00pm</td>
                    <td class="hide_data">6500</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>6</div></td>
                    <td>G0006</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">6ml</td>
                    <td class="hide_data">Mon & Thu : 6:00am</td>
                    <td class="hide_data">Same day : 6:00pm</td>
                    <td class="hide_data">6600</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>7</div></td>
                    <td>G0007</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">7ml</td>
                    <td class="hide_data">Mon & Thu : 7:00am</td>
                    <td class="hide_data">Same day : 7:00pm</td>
                    <td class="hide_data">6700</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>8</div></td>
                    <td>G0008</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">8ml</td>
                    <td class="hide_data">Mon & Thu : 8:00am</td>
                    <td class="hide_data">Same day : 8:00pm</td>
                    <td class="hide_data">6800</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>9</div></td>
                    <td>G0009</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td class="hide_data">9ml</td>
                    <td class="hide_data">Mon & Thu : 9:00am</td>
                    <td class="hide_data">Same day : 9:00pm</td>
                    <td class="hide_data">6900</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>10</div></td>
                    <td>G00010</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"10ml</td>
                    <td class="hide_data">Mon & Thu : 10:00am</td>
                    <td class="hide_data">Same day : 10:00pm</td>
                    <td class="hide_data">61000</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>11</div></td>
                    <td>G00011</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"11ml</td>
                    <td class="hide_data">Mon & Thu : 11:00am</td>
                    <td class="hide_data">Same day : 11:00pm</td>
                    <td class="hide_data">61100</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>12</div></td>
                    <td>G00012</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"12ml</td>
                    <td class="hide_data">Mon & Thu : 12:00am</td>
                    <td class="hide_data">Same day : 12:00pm</td>
                    <td class="hide_data">61200</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>13</div></td>
                    <td>G00013</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"13ml</td>
                    <td class="hide_data">Mon & Thu : 13:00am</td>
                    <td class="hide_data">Same day : 13:00pm</td>
                    <td class="hide_data">61300</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>14</div></td>
                    <td>G00014</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"14ml</td>
                    <td class="hide_data">Mon & Thu : 14:00am</td>
                    <td class="hide_data">Same day : 14:00pm</td>
                    <td class="hide_data">61400</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>15</div></td>
                    <td>G00015</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"15ml</td>
                    <td class="hide_data">Mon & Thu : 15:00am</td>
                    <td class="hide_data">Same day : 15:00pm</td>
                    <td class="hide_data">61500</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>16</div></td>
                    <td>G00016</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"16ml</td>
                    <td class="hide_data">Mon & Thu : 16:00am</td>
                    <td class="hide_data">Same day : 16:00pm</td>
                    <td class="hide_data">61600</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>17</div></td>
                    <td>G00017</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"17ml</td>
                    <td class="hide_data">Mon & Thu : 17:00am</td>
                    <td class="hide_data">Same day : 17:00pm</td>
                    <td class="hide_data">61700</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>18</div></td>
                    <td>G00018</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"18ml</td>
                    <td class="hide_data">Mon & Thu : 18:00am</td>
                    <td class="hide_data">Same day : 18:00pm</td>
                    <td class="hide_data">61800</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
                <tr>
                    <td class="dt-control"><div>19</div></td>
                    <td>G00019</td>
                    <td class="hide_data">GAD Total Antibody Type I Diabetes Serum</td>
                    <td class="hide_data">Refer , Individual test</td>
                    <td> class="hide_data"19ml</td>
                    <td class="hide_data">Mon & Thu : 19:00am</td>
                    <td class="hide_data">Same day : 19:00pm</td>
                    <td class="hide_data">61900</td>
                    <td class="hide_data">Active</td>
                    <td>Add to cart</td>
                </tr>
            </tbody>
        </table>
</main>
