body{
  width: 100vw !important;
  padding: 10px !important;
  height: 100vh !important;
  background-color: #f5f5f5;
  overflow-x: hidden;
}
/* DATATABLE RESPONSIVE */
table.dataTable thead>tr>th{
    background: #fff2db;
    border: 0 !important;
    position: sticky !important;
    top: 0 !important;
    font-weight: 500 !important;
}
table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    line-height: 12px !important;
}


/* Grid Responsive datatable  */

/* reponsive */
@media (max-width: 991px) {
    .hide_data {
      display: none !important;
    }
    .responsive-table .dt-control div {
      padding-left: 26px;
      width: max-content;
    }
    .responsive-table .dt-control:before {
        height: 1em !important;
        width: 1em !important;
        display: inline-block !important;
        color: white !important;
        border: 0.15em solid white !important;
        border-radius: 1em !important;
        box-shadow: 0 0 0.2em #444 !important;
        box-sizing: content-box !important;
        text-align: center !important;
        text-indent: 0 !important;
        font-family: "Courier New", Courier, monospace !important;
        line-height: 1em !important;
        content: "+" !important;
        background-color: #31b131 !important;
        position: absolute !important;
        left: 10px !important;
        margin-top: 1px !important;

    }
    .responsive-table .dt-hasChild .dt-control:before {
      content: '-' !important;
      background-color: #d33333 !important;
    }
    .responsive-table .dt-control div {
        padding-left: 26px;
        width: max-content;
      }
}
@media screen and (min-width: 991px) {
    .responsive-table .dt-control:before {
      content: none !important;
    }
    .responsive-table .dt-control {
      pointer-events: none;
    }
}
.git_page{
  z-index: 999;
  position: relative;
  display: flex;
}
.git_page a{
  background-color: #ccc5;
  padding: 5px;
  color: red;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid red;
  display: block;
  min-width: 80px;
  text-align: center;
  max-width: 120px;
}
.git_page a:nth-child(1){
  color: green;
  border: 1px solid green;
}
.git_page a:nth-child(2){
  color: red;
  border: 1px solid red;
}
.git_page a:nth-child(3){
  color: blue;
  border: 1px solid blue;
}
.git_page a:nth-child(4){
  color: brown;
  border: 1px solid brown;
}


/* loader img */

.loader{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  background-color: #f0ffffcc;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  cursor: wait;
  
}
.loader img{
  width: 200px;
}
@keyframes zoominoutsinglefeatured {
  0% {
      transform: scale(1,1);
  }
  50% {
      transform: scale(1.2,1.2);
  }
  100% {
      transform: scale(1,1);
  }
}

.loader img {
  animation: zoominoutsinglefeatured 1s infinite ;
}
